body{
    width: 1400px;
    margin: 0 auto;
}

/* Navigation menyu */
.navbar{
    background-color: rgba(240, 248, 255, 0);
}

.navbar-brand{
    font-family: 'SF Pro Display';
    letter-spacing: 1px;
    text-align: left;
    color: #282A30;
}

.navbar-nav .nav-item .nav-link{
    font-family: 'Nunito Sans';
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    letter-spacing: 1px;
    text-align: left;
    color: #282A30;
    padding:  0 60px 0;
}
