<<<<<<< Updated upstream
body{
    width: 1400px;
    margin: 0 auto;
}
html{
    width: 1400px;
    margin: 0 auto;
}
/*  Navigation menyu*/
.navbar{
    background-color: rgba(240, 248, 255, 0);
    width: 1400px;
}

.navbar-items{
    padding-left: 100px;
}

.navbar-brand{
    font-family: 'SF Pro Display';
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 1px;
    text-align: left;
    color: #282A30;
}

.navbar-nav .nav-item .nav-link{    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 22.08px;
    letter-spacing: 1px;
    padding: 0 60px 0;
    color: #282A30;
}
/* /Navigation menyu */
.home-page{
    width: 1400px;
}

.home-page > div{
    width: 50%;
    float: left;
}
.home-page-img{
    width: 251px;
}
.home-page-title{
    padding-left: 100px;
}
.left-img{
    padding: 0;
    margin-left: -100px;
}
.text-danger{
    padding-bottom: 50px;
}
.btn-danger{
    
}
.bx{
    padding: 50px 50px;
}
=======

>>>>>>> Stashed changes
